/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.navbar-dark, .quarto-title-banner {
  background-color: #18BC9C;
  color: white !important;

}

.g-col-8{
  text-align: justify;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


body{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

.caption{
   text-align: center;
}
